<h1 class="pearl_home_body_heading">Pearl Health Clinic Specialties</h1>
<div class="container home_block1">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home_block1_section">
            <div class="home_block1_section_inner1 home_block1_section_inner">
                <h1>Medical</h1>
                <h2>Family medicine is a division of primary care that provides continuing and comprehensive health care ...</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home_block1_section">
            <div class="home_block1_section_inner2 home_block1_section_inner">
                <h1>Psychiatry</h1>
                <h2>Psychiatry is the medical specialty devoted to the study, diagnosis, treatment, </h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home_block1_section home_block1_section_right">
            <div class="home_block1_section_inner3 home_block1_section_inner">
                <h1>Neuropsychologi ...</h1>
                <h2>Neuropsychological and psychological testing utilize scientific methods to measure  ...</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home_block1_section">
            <div class="home_block1_section_inner4 home_block1_section_inner">
                <h1>Counseling</h1>
                <h2>Counseling can be more precisely defined as a relatively short-term, interpersonal</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home_block1_section">
            <div class="home_block1_section_inner5 home_block1_section_inner">
                <h1>Eating Disorders</h1>
                <h2>We offer four different treatment groups: Body-Balance, Well-being, Youth Body Balance and Youth Well-Being.</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home_block1_section home_block1_section_right">
            <div class="home_block1_section_inner6 home_block1_section_inner">
                <h1>Neurofeedback</h1>
                <h2>Neurofeedback sessions are a non- invasive alternative way of improving your quality of life. </h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home_block1_section home_block1_section_bottom">
            <div class="home_block1_section_inner7 home_block1_section_inner">
                <h1>Substance Abuse</h1>
                <h2>Candidates for our program must follow the direction of their physician and other treatment providers.</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home_block1_section home_block1_section_bottom">
            <div class="home_block1_section_inner8 home_block1_section_inner">
                <h1>Community Based ...</h1>
                <h2>Assistance in gaining and utilizing skills necessary to function adaptively in home and community settings and attain ...</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 home_block1_section home_block1_section_right home_block1_section_bottom">
            <div class="home_block1_section_inner9 home_block1_section_inner">
                <h1>Pearl Supportive</h1>
                <h2>Pearl Supportive Living is a Residential Habilitation (Res-Hab) agency that provides assistance to developmentally</h2>
            </div>
        </div>
    </div>
</div>
<h1 class="pearl_home_body_heading">Why We're The Best</h1>
<div class="container home_block2">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 home_block2_left">
            <img src="images/home_bolck2_img1.png">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 home_block2_right">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span>+</span>Promise Of Unparalleled Treatment</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">We at Pearl Health Clinic commit to each person we serve by giving them unparalleled treatment that uncovers the worth we all have as human beings. Every one of us travels through life with burdens, whether they are physical, mental, emotional, or anything else that holds back our true potential. We strive to unlock that potential to improve our way of life. From psychiatric care within the clinic to psycho-social care within the community, our accomplished staff have helped thousands of people feeling overwhelmed with life's burdens. Our message is simple: You are not alone and there is help. Our practitioners are spiritually-minded and ethically sound, assuring every patient and their families that care is handled with dignity and respect.</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span>+</span>Well Experienced Specialists</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span>+</span>Never Get Turned Away</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span>+</span>Free Informational Events For The Community</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container home_block3">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home_block3_section">
            <div class="home_block3_section_content">
                <h1><img src="images/home_bolck3_img1.png">Find Out What's Going On At Your Local Pearl Health Clinic</h1>
                <a href="javascript:void(0);" class="home_block3_learnbtn">Learn More</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<h1 class="pearl_home_body_heading">our specialists</h1>

<div class="container home_specialist_block">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 home_specialist_block_content home_specialist_block_left">
            <div class="home_specialist_imgblock">
                <img src="images/specialist_img1.png" alt="#">
            </div>
            <div class="home_specialist_descblock">
                <h1>QUINN THIBODEAU</h1>
                <h2>Mental Health</h2>
                <h3>DEGREE :</h3>
                <h3>Ph.D. Mental Health Counseling</h3>
                <h3>specialities :</h3>
                <p>mental health<br> He has worked Existential counseling and therapy</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 home_specialist_block_content">
            <div class="home_specialist_imgblock">
                <img src="images/specialist_img2.png" alt="#">
            </div>
            <div class="home_specialist_descblock">
                <h1>DR. ROSA MARIA
                    MULSER PH.D</h1>
                <h2>licensed psychologist</h2>
                <h3>DEGREE :</h3>
                <h3>Ph.D., is a licensed psychology</h3>
                <h3>specialities :</h3>
                <p>Trauma-Focused Cognitive Behavior
                    Therapy (TF-CBT), the Coping Cat,
                    and Parent-Child </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 home_specialist_block_content home_specialist_block_right">
            <div class="home_specialist_imgblock">
                <img src="images/specialist_img3.png" alt="#">
            </div>
            <div class="home_specialist_descblock">
                <h1>BONITA AVERY</h1>
                <h2>Mental Health</h2>
                <h3>DEGREE :</h3>
                <h3>Ph.D., Couple, Family counseling</h3>
                <h3>specialities :</h3>
                <p>Neurofeedback Therapy and couples,
                    family counseling.</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 home_specialist_block_content home_specialist_block_left">
            <div class="home_specialist_imgblock">
                <img src="images/specialist_img4.png" alt="#">
            </div>
            <div class="home_specialist_descblock">
                <h1>DR. MCGRATH</h1>
                <h2>Psychologists</h2>
                <h3>DEGREE :</h3>
                <h3>graduate Psychology</h3>
                <h3>specialities :</h3>
                <p>Health Service Psychologists</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 home_specialist_block_content">
            <div class="home_specialist_imgblock">
                <img src="images/specialist_img5.png" alt="#">
            </div>
            <div class="home_specialist_descblock">
                <h1>DR. ELIZABETH HAY</h1>
                <h2>licensed psychologist</h2>
                <h3>DEGREE :</h3>
                <h3>undergraduate in physics</h3>
                <h3>specialities :</h3>
                <p>Pediatric medicine, Child Psychiatry
                    and Adult Psychiatry</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 home_specialist_block_content home_specialist_block_right">
            <div class="home_specialist_imgblock">
                <img src="images/specialist_img6.png" alt="#">
            </div>
            <div class="home_specialist_descblock">
                <h1>DAVID SPENCER</h1>
                <h2>Clinical Social Worker</h2>
                <h3>DEGREE :</h3>
                <h3>Master's deg. in Social Work</h3>
                <h3>specialities :</h3>
                <p>chemical and behavioral addiction
                    including alcohol, drug, and sexual
                    addictions</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 home_specialist_block_content home_specialist_block_left">
            <div class="home_specialist_imgblock">
                <img src="images/specialist_img7.png" alt="#">
            </div>
            <div class="home_specialist_descblock">
                <h1>DR. THANA SINGARAJAH</h1>
                <h2>Community Leadership</h2>
                <h3>DEGREE :</h3>
                <h3>Master's</h3>
                <h3>specialities :</h3>
                <p>Clinical Assistant Professor and
                    Health and Welfare system </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 home_specialist_block_content">
            <div class="home_specialist_imgblock">
                <img src="images/specialist_img8.png" alt="#">
            </div>
            <div class="home_specialist_descblock">
                <h1>DR. ELIZABETH HAY</h1>
                <h2>children's therapy</h2>
                <h3>DEGREE :</h3>
                <h3>M.Ed., LCPC</h3>
                <h3>specialities :</h3>
                <p>credentialed art therapis</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 home_specialist_block_content home_specialist_block_right">
            <div class="home_specialist_imgblock">
                <img src="images/specialist_img9.png" alt="#">
            </div>
            <div class="home_specialist_descblock">
                <h1>ZAK WARREN</h1>
                <h2>Director for PSR</h2>
                <h3>DEGREE :</h3>
                <h3>M.Coun., LCPC, NBCC AND Master's</h3>
                <h3>specialities :</h3>
                <p>Psychosocial Rehabilitation
                    children ages 8 to 18, adults, and
                    couples counseling</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="container specialist_bottom">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 specialist_bottom_btn">
            <a href="javascript:void(0);" class="home_block3_learnbtn">More Staff</a>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 specialist_bottom_line">

        </div>
    </div>
</div>
<div class="container home_appoinment_block">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home_appoinment_block_content">
            <h1 class="pearl_home_body_heading">make an appointment now!</h1>
            <p>Book an appointment with one of our specialists today and find the help you,re looking for today!</p>
            <div class="home_appoinment_block_form">
                <form>
                    <label>First Name</label>
                    <input type="text" class="appo_form_input">
                    <!--<span class="err_msg">Fill this input.</span>-->
                    <div class="clear"></div>
                    <label>Last Name</label>
                    <input type="text" class="appo_form_input">
                    <!--<span class="err_msg">Fill this input.</span>-->
                    <div class="clear"></div>
                    <label>Email Address</label>
                    <input type="text" class="appo_form_input">
                    <!--<span class="err_msg">Fill this input.</span>-->
                    <div class="clear"></div>
                    <label>Phone No.</label>
                    <input type="text" class="appo_form_input">
                    <!--<span class="err_msg">Fill this input.</span>-->
                    <div class="clear"></div>
                    <label>Appointment Date</label>
                    <input type="text" class="appo_form_input">
                    <!--<span class="err_msg">Fill this input.</span>-->
                    <div class="clear"></div>
                    <label>Patient</label>
                    <select>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <!--<span class="err_msg">Fill this input.</span>-->
                    <div class="clear"></div>
                    <label>Message</label>
                    <textarea rows="5"></textarea>
                    <!--<span class="err_msg">Fill this input.</span>-->
                    <div class="clear"></div>
                    <button type="submit" class="form_submit">Submit</button>
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>