<div class="container-fluid visit_wrapper">
    <div class="row">
        <div class="container-fluid visit_body_block_top">
            <div class="row">
                <div class="container visit_body_block_top_section">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visit_body_block_top_section_content">
                            <h1>Planning  Your  Visit</h1>
                            <h2>ONE FINAL STEP!</h2>
                            <div class="planning_block">
                                <div class="planning_block_top">
                                    <h1>Please Click on The This Link <img src="images/visit_right_arrow.png"> <a href="javascript:void(0);">INTAKE_PACKET_PHC</a> <img src="images/visit_left_arrow.png"> To Open Theattached<br> Document and and Save IT To Your Computer Desktop.</h1>
                                </div>
                                <div class="planning_block_content1">
                                    <div class="planning_block_content1_left">
                                        <div class="planning_block_content_imgblock">
                                            <img src="images/visit_phone_icon.png">
                                        </div>
                                        <h1>Emergency Contact</h1>
                                        <p>THE EMERGENCY CONTACT PHONE<br>
                                            NUMBER MUST BE A NUMBER THAT'S NOT PREVIOUSLY USED.</p>
                                    </div>
                                    <div class="planning_block_content1_right">
                                        <div class="planning_block_content_imgblock">
                                            <img src="images/visit_insurance_icon.png">
                                        </div>
                                        <h1>Insurance Information</h1>
                                        <p>COMPLETE AS MUCH OF THE INSURANCE INFORMATION AS POSSIBLE TO<br> ALLOWS TO EXPEDITE INSURANCE VERIFICATION AND PLEASE ATTACH A<br> COPY OF THE INSURANCE CARD. **NOTE: IF YOU DO NOT HAVE A SCANNER<br> YOU CAN TAKE A PICTURE AND EMAIL US A COPY</p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="planning_block_content2">
                                    <div class="planning_block_content2_left">
                                        <div class="planning_block_content_imgblock">
                                            <img src="images/visit_service_icon.png">
                                        </div>
                                        <h1>Service Request</h1>
                                        <p>PAGES 2 AND 3 ALLOW FOR YOU TO TELL US WHAT SERVICES YOU ARE<br> REQUIRING AND IF YOU ARE REQUESTING A SPECIFIC PROVIDER. **NOTE: IF<br> YOU WOULD LIKE ADDITIONAL INFORMATION ABOUT OUR PROVIDERS<br> PLEASE VISIT OUR WEBSITE WWW.PEARLHEALTH.ORG AND CLICK ON "STAFF<br> PROFILES" UNDER THE "STAFF" TAB.
                                        </p>
                                        </div>
                                    <div class="planning_block_content2_right">
                                        <div class="planning_block_content_imgblock">
                                            <img src="images/visit_form_icon.png">
                                        </div>
                                        <h1>Consent Form</h1>
                                        <p>LASTLY, PLEASE SIGN CONSENT TO TREAT FORMS. **NOTE: THIS DOCUMENT<br> CAN BE SIGNED ELECTRONICALLY AND WILL SERVE AS AUTHORIZATION FOR<br> US TO TREAT THE PATIENT.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid visit_body_block_middle">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1>ONCE YOU HAVE COMPLETED THE PACKET, PLEASE SAVE TO YOUR DEVICE AND EMAIL THE ATTACHMENT BACK TO US, <a href="mailTo:INTAKE@PEARLHEALTH.ORG"> AT INTAKE@PEARLHEALTH.ORG</a></h1>
                            <h1>UPON RECEIPT OF YOUR PACKET, WE WILL PROCESS THE PAPERWORK PROMPTLY AND CALL YOU TO SCHEDULE YOUR FIRST APPOINTMENT. IF YOU NEED ASSISTANCE, COMPLETING THE PACKET OR IF YOU HAVE ANY ADDITIONAL QUESTIONS, PLEASE FEEL FREE TO CONTACT US.</h1>
                            <div class="visit_body_block_middle_line"></div>
                            <h1>"WHAT WE CHANGE INWARDLY, WILL CHANGE OUR OUTER REALITY." <span>~PLUTARCH</span></h1>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="container-fluid visit_body_block_bottom"></div>
    </div>
</div>