<div class="container-fluid services_wrapper">
    <div class="row">
        <div class="container services_body_block">
            <div class="row">
                <div class="services_body_block_content_top">OUR SERVICES</div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content">
                    <img src="images/services_page_img1.png">
                    <span><a href="javascript:void(0);">Family Medicine</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content">
                    <img src="images/services_page_img2.png">
                    <span><a href="javascript:void(0);">Neurofeedback Therapy</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content">
                    <img src="images/services_page_img3.png">
                    <span><a href="javascript:void(0);">Psychiatry</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content">
                    <img src="images/services_page_img4.png">
                    <span><a href="javascript:void(0);">Neuropsychological and Psychological Testing </a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content">
                    <img src="images/services_page_img5.png">
                    <span><a href="javascript:void(0);">Counseling</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content">
                    <img src="images/services_page_img6.png">
                    <span><a href="javascript:void(0);">Community Based RehabilItation Services</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content">
                    <img src="images/services_page_img7.png">
                    <span><a href="javascript:void(0);">Eating Disorders</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content">
                    <img src="images/services_page_img8.png">
                    <span><a href="javascript:void(0);">Case Management</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content services_body_block_content_last">
                    <img src="images/services_page_img9.png">
                    <span><a href="javascript:void(0);">Substance Abuse</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services_body_block_content services_body_block_content_last">
                    <img src="images/services_page_img10.png">
                    <span><a href="javascript:void(0);">Pearl Supportive Living</a></span>
                </div>
            </div>
        </div>
    </div>
</div>